header {
  width: 100%;
  height: 80px;
  background-color: #f7dd16;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  align-items: center;
  margin: -8px;
  padding-right: 16px;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin-left: 10px;
}

.movie {
  margin-top: 4px;
}

h4 {
  width: 185px;
  margin: 0px;
}

img {
  height: 275px;
  width: 185px;
}

.allMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 5px;
}

html {
  background-color: #f8f7fa;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
